.trigger{
  font-size: 18px;
  line-height: 64px;
  padding: 0 16px;
  cursor: pointer;
  transition: color .3s;
}

.logo {
  height: 32px;
  background: #333;
  border-radius: 6px;
  margin: 16px;
}

.main{
  background-color: rgba(200,200,200,0.3);
  z-index: 2;
  padding-top: 22px;
  position: fixed;
  margin-left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%)
}

.title{
  font-family: 'helvetica';
  color: black;
  width: 525px;
  background: #fff;
  padding: 0;
  text-align: center;
  padding-right: 18px;
  margin: 0 auto
}

.weather{
  text-align: center;
  width: 525px;
  margin: 24px 16px;
  padding: 24;
  background: #fff;
  min-height: 260
}
